*{
    margin: 0 auto;
    padding: 0;
}

#navbar{
    background-color: rgb(204,204,204);
    display: flex;
    width: 600px;
    height: 50px;
    border: solid red;
    align-items: center;
}


#searchbar{
    border: solid black;
}
.login{
background-color: blue;
color: white;
width: 50px;
box-shadow: 2px 2px black;
border: solid red;
}

#main{
    width: 650px;
    height: 600px;
    border: solid red;
    margin-top: 20px;
    display: flex;
}

.ninja1{
    height: 150px;
    width: 300px;
    border: solid black;
    display: flex;
    margin: 20px;
    margin-right: 350px;
}

#youbox{
    height: 100px;
    width: 100px;
    border: solid  black;
    display: flex;
}